<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-S3RTP7K\LUCHO;Initial Catalog=ImaginCrud_Security;User ID=sa;Password=abc123$$$" providerName="System.Data.SqlClient" />
    <add name="ImaginCrudConnection" connectionString="Data Source=DESKTOP-S3RTP7K\LUCHO;Initial Catalog=ImaginCrud;User ID=sa;Password=abc123$$$" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=PYSHSRVWEB\SQLEXPRESS;Initial Catalog=ImaginCrud_Security;User ID=sa;Password=Surfers666" providerName="System.Data.SqlClient"/>
    <add name="ImaginCrudConnection" connectionString="Data Source=PYSHSRVWEB\SQLEXPRESS;Initial Catalog=ImaginCrud;User ID=sa;Password=Surfers666" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="FTP_PROCESS_INTERVAL_SECONDS" value="300" />
    <add key="FORM_STATUS_PROCESS_INTERVAL_SECONDS" value="60" />
    <add key="FORMS_FTP_USER" value="imagincrud" />
    <add key="FORMS_FTP_PASSWORD" value="imagincrud12345" />
    <add key="FORMS_FTP_PATH" value="ImaginCrud" />
    <add key="FORMS_FTP_SERVER" value="localhost" />
    <add key="PROCESSES_LOCAL_PATH" value="C:\AppData\ImaginCrud\FormTemplates" />
    <!--Tiempos en segundos--><!--
    <add key="MAX_SECONDS_IN_CAPTURE" value="60" />
    <add key="MAX_SECONDS_IN_VALIDATION" value="1200" />-->
    <!--<add key="FTP_PROCESS_INTERVAL_SECONDS" value="60"/>
    <add key="FORM_STATUS_PROCESS_INTERVAL_SECONDS" value="60"/>
    <add key="FORMS_FTP_USER" value="SANPYS"/>
    <add key="FORMS_FTP_PASSWORD" value="Chile2015*"/>
    <add key="FORMS_FTP_SERVER" value="216.69.181.183"/>
    <add key="PROCESSES_LOCAL_PATH" value="D:\ALCAZE_AppData\ImaginCrud\Files"/>-->
    <!--Tiempos en segundos-->
    <add key="MAX_SECONDS_IN_CAPTURE" value="1200"/>
    <add key="MAX_SECONDS_IN_VALIDATION" value="1200"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ImaginCrudAppender"/>
    </root>
    <appender name="ImaginCrudAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\logs\ImaginCrudRolling-Service.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <logger name="ImaginCrud">
      <level value="DEBUG"/>
    </logger>
  </log4net>
</configuration>
