@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/Controlers/HomeController.js"></script>

}
<div class="jumbotron" style="min-height:400px;">
    <div class="col-md-5">
        <img src="~/Content/images/ImaginCrud/ImaginCrud1.png" />
    </div>
    <div class="col-md-7">
        <img src="~/Content/images/ImaginCrud/Texto.png" />
    </div>
    <div class="clearfix"></div>
</div>
