@model ImaginCrud.Models.SearchModel<ImaginCrud.Entities.Customer>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr>
<h2 class="intro-text text-center">
    <strong>Clientes</strong>
</h2>
<hr>
<div class="panel-group" ng-app="Form">
    <div class="panel panel-default" ng-controller="FormController">
        <div class="panel-heading row">
            <div class="col-xs-5 pagining-option-buttons ">
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">Busqueda</button>
                @Html.ActionLink("Crear", "Create", "Customer", new { },
                            new { @class = "btn btn-primary " })
            </div>
            <div class="col-xs-3 pagining-pages">

                <a href="javascript:void(0);" ng-show="seachEntity.Page>1" ng-click="previous();">&laquo;</a>
                Pagina
                <input type="text" name="Page" ng-model="seachEntity.Page" class="pagining-control page" value="@Model.Page" ng-change="find()" />
                de {{seachEntity.TotalPages}}
                <a href="javascript:void(0);" ng-show="(seachEntity.TotalPages > seachEntity.Page)" ng-click="next();">&raquo;</a>
            </div>
            <div class="col-xs-4 text-right pagining-items-by-page ">
                <label>
                    Ver
                </label>
                <select ng-model="seachEntity.ItemsByPage" name="ItemsByPage" ng-change="find()" class="pagining-control">
                    <option value="10" selected="selected">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                @*@Html.DropDownListFor(x => x.ItemsByPage, new SelectList(new List<string>() { "10", "25", "50", "100" }), new { @class = "pagining-control", onchange = "this.form.submit();" })*@
                <label>
                    elementos
                </label>
            </div>
        </div>
        <div id="filter-panel" class="collapse panel-body">
            <div class="">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="CustomerId">Identificación</label>
                            <input type="text" maxlength="11" class="form-control" ng-model="seachEntity.CustomerId" name="Email" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Name">Nombre</label>
                            <input type="text" maxlength="100" class="form-control" ng-model="seachEntity.Name" name="Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default" type="button" ng-click="findWithParameters()"><i class="glyphicon glyphicon-search"> Buscar</i></button>
                    </div>
                </div>
            </div>
        </div>
        <div dynamic="listHtml" id="ContentList">
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var getCustomersView = '@Url.Action("GetCustomersView","Customer")';
    </script>
    <script src="~/Scripts/App/Controllers/CustomerController.js"></script>
    
}
